<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Renter's Rights</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@codeforsanjose" />
    <meta name="twitter:url" content="https://rentersrightsguide.org" />
    <meta name="twitter:description" content="Helping renters in San José, California understand the laws and programs in place to protect them." />
    <meta name="twitter:image" content="screenshot.png" />
    <meta name="twitter:creator" content="@codeforsanjose" /> 
    <meta property="og:title" content="Renter's Rights Guide"/>
    <meta property="og:site_name" content="Renter's Rights Guide"/>
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="116302172398944" />
    <meta property="og:url" content="http://www.rentersrightsguide.org/"/>
    <meta property="og:description" content="Helping renters in San José, California understand the laws and programs in place to protect them."/>
    <meta property="og:image" content="screenshot.png"/>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-52748721-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-52748721-2');
</script>


    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'CFSJlogo.png' %> 
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,500'%>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Poppins:500' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Karla'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'webpack-bundle' %>

    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.min.js' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
  </head>

  <body>
    <div class="container">
       <div class="error">
        <h1> Renter's Rights Guide </h1>
        <h2> Page not found </h2>
        <p> Uh oh, we can't seem to find the page you're looking for. <br> The link you followed may be broken, or the page may have been removed. <br> Click <%= link_to "here", root_path %> to go back. </p>
    </div>
  </body>
</html>
