<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Renter's Rights</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'CFSJlogo.png' %> 
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,500'%>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Poppins:500' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Karla'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'webpack-bundle' %>

    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.min.js' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
